.ant-carousel {
    width: 100%;
    position: relative;
}

.overlay-next {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,0) 30%, rgba(22,22,22,.2) 100%);
    cursor: pointer;
}

/* Grafo */

#viz {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    font: 22pt arial;
    border-width: 0 !important;
}

.vis-network {
    outline: none !important;
}

.block-hover {
    & {
        cursor: pointer;
    }

    &.venn-container {
        & {
            transition: all 0.2s ease-in;
            -webkit-transition: all 0.2s ease-in;
        }

        &:hover {
            transform: scale(1.01);
        }
    }

    .card-top > span {
        transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
    }

    &:hover .card-top > span {
        transform: scale(1.25);
        color: #aaa;
    }
}

.stack-indicator {

    display: flex;
    flex-direction: column;
    flex: 1;

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    li {
        color: white;
    }

    .icon-card__icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

.card-bottom {
    height: 10rem !important;
}

.number-card-v1 .card-bottom {
    justify-content: flex-end;
}

.card-info {
    top: 41% !important;
}

.vis-tooltip {
    
}