.client-details {

    & {
        padding-top: 25px;
    }

    h5.title {
        font-size: 1.2em;
        color: white;
        font-weight: 500;
        background: #8e519a;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 2px;
    }

    .ant-card-head {
        background: rgba(0,0,0,.03);
    }

    .no-margin {
        margin: 0
    }

    .featured-font {
        font-size: 16px;
        color: #ffba00;
        font-weight: 500;
    }

    .label-value {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;

        .label {
            color: rgba(0,0,0,.35);
            font-size: 12px;
        }

        .value {
            color: #8e519a;
            font-size: 14px;
            font-weight: 600;
        }
    }

    .label {

    }

    .value {

    }

    .unit {
        color: #555;
        font-weight: 600;
        font-size: 1.1em;
    }

    .item-text-pane {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.center-text {
    text-align: center;
}

.pane-details {
    p {
        margin-top: 5px !important;
    }
}

.ant-modal {
    min-width: 50%;
}

.ant-modal-body {
    padding-top: 50px !important;
}

.ant-tabs-nav .ant-tabs-tab:not(.ant-tabs-tab-active) {
    opacity: .5;
}

@media only screen and (max-width: 768px) {
    .ant-drawer-content-wrapper {
        width: 85% !important;
    }
}