.ant-dropdown-menu-item {
    span[role=img] {
        margin-right: 5px;
    }
}

.ant-form {
    .ant-form-item-explain {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 764px) {
    .app-sidenav.sidenav-bg-light.ant-layout-sider.ant-layout-sider-dark {
        max-width: 100% !important;
        width: auto !important;
    }
}

.sidenav-header {
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
}