.ant-carousel {
    width: 100%;
    position: relative;
}

.overlay-next {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,0) 30%, rgba(22,22,22,.2) 100%);
    cursor: pointer;
}

.ant-table-container {
    overflow: scroll !important;
}

/* Grafo */

#viz {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    font: 22pt arial;
    border-width: 0 !important;
}

.vis-network {
    outline: none !important;
}

/* Bars for avance */

.ant-progress {
    .ant-progress-outer {
        padding-right: 5px !important;
        margin-right: 0 !important;
        max-width: 75% !important;
    }
}